@font-face {
    font-family: FuturaPTDemi;
    src: url('../fonts/FuturaPTDemi.woff') format('woff'),
        url('../fonts/FuturaPTDemi.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBook;
    src: url('../fonts/FuturaPTBook.woff') format('woff'),
        url('../fonts/FuturaPTBook.woff') format('woff');
}
@font-face {
    font-family: FuturaPTHeavy;
    src: url('../fonts/FuturaPTHeavy.woff') format('woff'),
        url('../fonts/FuturaPTHeavy.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBoldOblique;
    src: url('../fonts/FuturaPTBoldOblique.woff') format('woff'),
        url('../fonts/FuturaPTBoldOblique.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBold;
    src: url('../fonts/FuturaPTBold.woff') format('woff'),
        url('../fonts/FuturaPTBold.woff') format('woff');
}